<header class="header-hero">
<div class="header-hero__section container">
    <a class="header-hero__logo" href="index.html">
        <svg class="header-hero__icon" width="199" heidth="50">
            <use></use>
        </svg>
    </a>
    <div class="header-hero__menu">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">How it’s made?</a></li>
            <li><a href="">Our products</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <button type="button" class="header-hero__btn">Buy now</button>
    </div>

</div>

</header>